<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản trị ShopX - Bảng điều khiển</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/Admin/assets/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body class="bg-gray-100">
    <div class="flex">
        <!-- Sidebar -->
        <div id="sidebar">
            <!-- Sidebar động sẽ load vào đây -->
        </div>

        <div class="content-area flex-1">

            <!-- Header -->
            <div id="header">
                <!-- Header động sẽ load vào đây -->
            </div>

            <!-- Content -->
            <div id="app">
                <main class="p-6 mx-auto">
                    <section class="mt-10 bg-white shadow rounded-lg p-6">
                        <h2 class="text-2xl font-bold mb-4">Quản lý sản phẩm</h2>
                        <div class="flex justify-between mb-4">
                            <form id="searchForm" method="GET" class="flex w-1/2">
                                <input type="text" id="searchInput" name="search" placeholder="Tìm kiếm sản phẩm..."
                                    class="p-2 border rounded-l w-full shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <button type="submit" id="searchBtn"
                                    class="bg-blue-500 text-white px-6 rounded-r hover:bg-blue-600 transition duration-200">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                            <a href="create.html" id="addProductBtn"
                                class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"><i
                                    class="fas fa-plus-circle mr-1"></i>Thêm
                                sản phẩm</a>
                        </div>
                        <table class="min-w-full bg-white border rounded-lg shadow-md">
                            <thead class="bg-gray-200 text-gray-700">
                                <tr>
                                    <th class="py-3 px-4 border-b text-left">STT</th>
                                    <th class="py-3 px-4 border-b text-left">Mã</th>
                                    <th class="py-3 px-4 border-b text-left">Giá trị</th>
                                    <th class="py-3 px-4 border-b text-left">Ngày hết hạn</th>
                                    <th class="py-3 px-4 border-b text-left">Trạng thái</th>
                                    <th class="py-3 px-4 border-b text-left">Hành động</th>
                                </tr>
                            </thead>
                            <tbody id="productTableBody" class="text-gray-600">
                                <tr>
                                    <td class="py-3 px-4 border-b">1</td>
                                    <td class="py-3 px-4 border-b">SUMMER20</td>
                                    <td class="py-3 px-4 border-b">20%</td>
                                    <td class="py-3 px-4 border-b">31/8/2025</td>
                                    <td class="py-3 px-4 border-b">
                                        <button onclick="changeStatus(2001)"
                                            class="bg-red-500 text-white py-1 w-36 rounded text-center hover:bg-red-600">
                                            Hết hạn
                                        </button>
                                    </td>

                                    <td class="py-3 px-4 border-b space-x-2">
                                        <a href="update.html"
                                            class="bg-yellow-500 text-white px-3 py-1 rounded hover:bg-yellow-600 transition duration-200 edit-btn"
                                            data-id="1">
                                            <i class="fas fa-edit mr-1"></i> Sửa
                                        </a>
                                        <a href="#"
                                            class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600 transition duration-200 delete-btn"
                                            data-id="1">
                                            <i class="fas fa-trash-alt mr-1"></i> Xóa
                                        </a>
                                    </td>
                                </tr>
                                <!-- 2 -->
                                <tr>
                                    <td class="py-3 px-4 border-b">2</td>
                                    <td class="py-3 px-4 border-b">SUMMER20</td>
                                    <td class="py-3 px-4 border-b">20%</td>
                                    <td class="py-3 px-4 border-b">31/8/2025</td>
                                    <td class="py-3 px-4 border-b">
                                        <button onclick="changeStatus(2001)"
                                            class="bg-gray-500 text-white py-1 w-36 rounded text-center hover:bg-gray-600">
                                            Ngưng hoạt động
                                        </button>
                                    </td>

                                    <td class="py-3 px-4 border-b space-x-2">
                                        <a href="update.html"
                                            class="bg-yellow-500 text-white px-3 py-1 rounded hover:bg-yellow-600 transition duration-200 edit-btn"
                                            data-id="1">
                                            <i class="fas fa-edit mr-1"></i> Sửa
                                        </a>
                                        <a href="#"
                                            class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600 transition duration-200 delete-btn"
                                            data-id="1">
                                            <i class="fas fa-trash-alt mr-1"></i> Xóa
                                        </a>
                                    </td>
                                </tr>
                                <!-- 3 -->
                                <tr>
                                    <td class="py-3 px-4 border-b">3</td>
                                    <td class="py-3 px-4 border-b">SUMMER20</td>
                                    <td class="py-3 px-4 border-b">20%</td>
                                    <td class="py-3 px-4 border-b">31/8/2025</td>
                                    <td class="py-3 px-4 border-b">
                                        <button onclick="changeStatus(2001)"
                                            class="bg-gray-500 text-white py-1 w-36 rounded text-center hover:bg-gray-600">
                                            Ngưng hoạt động
                                        </button>
                                    </td>

                                    <td class="py-3 px-4 border-b space-x-2">
                                        <a href="update.html"
                                            class="bg-yellow-500 text-white px-3 py-1 rounded hover:bg-yellow-600 transition duration-200 edit-btn"
                                            data-id="1">
                                            <i class="fas fa-edit mr-1"></i> Sửa
                                        </a>
                                        <a href="#"
                                            class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600 transition duration-200 delete-btn"
                                            data-id="1">
                                            <i class="fas fa-trash-alt mr-1"></i> Xóa
                                        </a>
                                    </td>
                                </tr>
                                <!-- 4 -->
                                <tr>
                                    <td class="py-3 px-4 border-b">4</td>
                                    <td class="py-3 px-4 border-b">SUMMER20</td>
                                    <td class="py-3 px-4 border-b">20%</td>
                                    <td class="py-3 px-4 border-b">31/8/2025</td>
                                    <td class="py-3 px-4 border-b">
                                        <button onclick="changeStatus(2001)"
                                            class="bg-green-500 text-white py-1 w-36 rounded text-center hover:bg-green-600">
                                            Hoạt động
                                        </button>
                                    </td>

                                    <td class="py-3 px-4 border-b space-x-2">
                                        <a href="update.html"
                                            class="bg-yellow-500 text-white px-3 py-1 rounded hover:bg-yellow-600 transition duration-200 edit-btn"
                                            data-id="1">
                                            <i class="fas fa-edit mr-1"></i> Sửa
                                        </a>
                                        <a href="#"
                                            class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600 transition duration-200 delete-btn"
                                            data-id="1">
                                            <i class="fas fa-trash-alt mr-1"></i> Xóa
                                        </a>
                                    </td>
                                </tr>
                                <!-- 5 -->
                                <tr>
                                    <td class="py-3 px-4 border-b">5</td>
                                    <td class="py-3 px-4 border-b">SUMMER20</td>
                                    <td class="py-3 px-4 border-b">20%</td>
                                    <td class="py-3 px-4 border-b">31/8/2025</td>
                                    <td class="py-3 px-4 border-b">
                                        <button onclick="changeStatus(2001)"
                                            class="bg-green-500 text-white py-1 w-36 rounded text-center hover:bg-green-600">
                                            Hoạt động
                                        </button>
                                    </td>

                                    <td class="py-3 px-4 border-b space-x-2">
                                        <a href="update.html"
                                            class="bg-yellow-500 text-white px-3 py-1 rounded hover:bg-yellow-600 transition duration-200 edit-btn"
                                            data-id="1">
                                            <i class="fas fa-edit mr-1"></i> Sửa
                                        </a>
                                        <a href="#"
                                            class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600 transition duration-200 delete-btn"
                                            data-id="1">
                                            <i class="fas fa-trash-alt mr-1"></i> Xóa
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <!-- Pagination -->
                    <div class="flex justify-between items-center mt-6">
                        <div class="text-sm text-gray-600">
                            Hiển thị <span id="currentPage">1</span> / <span id="totalPages">10</span> trang
                        </div>
                        <div class="flex space-x-2">
                            <button id="prevPage"
                                class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-1 px-3 rounded disabled:opacity-50"
                                disabled>Trước</button>
                            <button id="nextPage"
                                class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-1 px-3 rounded">Sau</button>
                        </div>
                    </div>
                </main>
            </div>

            <!-- Footer -->
            <div id="footer">
                <!-- Footer động sẽ load vào đây -->
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="/Admin/assets/js/custom.js"></script>
    <script src="/Admin/assets/js/index.js"> </script>
    <script src="/Admin/assets/js/product-form.js" defer></script>
</body>

</html>